.dark-section {
  background-color: black;
  color: white;
}

.light-section {
  background-color: #f2f2f2;
  color: black;
}

.light-blue-font {
  color: #3CACAE;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  font-family: "Montserrat";
}

/* TITLE SECTION */
.print-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.print-text {
  font-weight: 500;
  padding-bottom: 10%;
  font-size: 15vw;
}

.navbar-brand{
  font-size: 2vh;
  font-weight: bold;
}

.navbar-brand, .navbar-brand:hover{
  color: #e6e6e6;
}

.nav-link:hover {
  color: #55f7fa;
}

.nav-link {
  color: #e6e6e6;
  font-weight: bold;
  font-size: 1.8vh;
}

/* ABOUT SECTION */
#about {
  padding: 100px 8% 300px;
  font-family: "Ubuntu";
  text-align: center;
}

.description-container {
  text-align: left;
  padding-top: 15%;
  padding-bottom: 200px;
}

.picture-container {
  text-align: center;
  margin-right: 5%;
}

.my-picture {
  float: right;
  min-width: 240px;
  height: auto;
  overflow: auto;
}

@media(max-width:990px) {
  .my-picture {
    float: none;
    margin: 15%;
  }
}

.return {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.method-signature {
  padding-bottom: 2%;
  font-size: 70px;
  font-weight: 500;
}

.method-container {
  padding: 0 5%;
}

.description {
  font-style: italic;
}

.skill-cards{
  font-size: 20px;
}

.about-icon {
  margin-bottom: 10px;
}

.about-item {
  margin-top: 100px;
}

.about-icon:hover {
  color: #3CACAE;
}

.about-title {
  color: black;
  font-weight: bold;
}

.about-description, .about-title {
  padding: 0 5%;
}

.progress {
  margin: 5%;
  font-family: "Montserrat";
  font-weight: bold;
}

.progress-bar {
  background-color: #3CACAE;
}

@media (max-width: 1200px) {
  .row {
    padding: 0;
    margin-bottom: 0;
  }
}

/* WORK SECTION  */
/* CONTACTS SECTION */
#contacts {
  text-align: center;
}

.contact-me-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.contact-me-text {
  font-size: 100px;
  color: #f6f6f6;
  text-decoration: underline;
}

.contact-me-text:hover, .footer-icon:hover {
  color: #3CACAE;
}

.footer-icon {
  padding: 1%;
  color: white;
}

.social-link {
  position: relative;
  bottom: 80px;
}

.copyright{
  font-size: 20px;
  position: relative;
  bottom: 70px;
}
